@model IEnumerable<CSIRO.Models.Candidate>

<h1>Search For Candidates</h1>


@using (Html.BeginForm())
    {
        <div class="mb-2">
            Find by name: @Html.TextBox("SearchString", null,new{@style="width:40%"})  
            <input  type="submit" value="Search" />
        </div>   
    }

    <table class = "table table-hover mt-3">
      <tr class="bg-light">
           <th>@Html.DisplayNameFor(m=>m.CandidateID)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
          @* <th>@Html.ActionLink("Name", "ShowCandidates", new {sortOrder = ViewBag.NameSortParm})</th>*@
            <th>@Html.DisplayNameFor(m=>m.CourseTitle)</th>
            <th>@Html.DisplayNameFor(m=>m.GPA)</th>
           @* <th>@Html.ActionLink("GPA", "ShowCandidates", new {sortOrder = ViewBag.GPASortParm})</th>*@
            <th>@Html.DisplayNameFor(m=>m.University)</th>
            <th>Action</th>
        </tr>
        @foreach(var v in Model)
        {
            <tr>
                <td>@v.CandidateID</td>
                <td>@v.Name</td>
                <td>@v.CourseTitle</td>
                <td>@v.GPA</td>
                <td>@v.University</td>
                <td>@Html.ActionLink("View Detail", "ShowOneCandidate", "Candidate", new {@id = v.CandidateID}) </td>
            </tr>
        }
</table>

